
#heading1{
    text-align: center;
    color:#83839a ;
    font-family:'Calibri' ;
    font-size: 38px;
}
.main-container{
    height:350px;
    width:900px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border:rgb(192, 192, 247) solid 2px;
    margin:auto ;
    
}

#sub-container{
    height:40px;
    background-color:#b3ccff ;
    font-size: 20px;
    align-content: center;
}


#span{
    color:red;
}

#paragraph-font{
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#text{
    font-size: 20px;
    margin-left:30px;
    font-family:Ebrima;
}

#btn{
    background-color: black;
    font-size: 15px;
    border-radius: 20px;
    color: white;
    width:120px;
    align-items: center;
    padding: 10px 10px 10px ;
    margin-top: 50px;
    margin-left:400px;
}