
#heading1{
    text-align: center;
    color:#83839a ;
    font-family:'Calibri' ;
    font-size: 38px;
}
.main-container{
    height:350px;
    width:900px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border:rgb(192, 192, 247) solid 2px;
    margin:auto ;
    
}

#sub-container{
    height:40px;
    background-color:#b3ccff ;
    font-size: 20px;
    align-content: center;
}

   #topleft-txt{
    margin-left:13px;
   }

   #topRight-txt{
    position: absolute;
    margin-left:20px;
    right:200px;
   }


#span{
    color:red;
}

#paragraph-font{
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#text{
    font-size: 20px;
    margin-left:30px;
    font-family:Ebrima;
}

#btn{
    background-color: black;
    font-size: 14px;
    border-radius: 20px;
    color: white;
    width:130px;
    align-items: center;
    margin-top: 50px;
    margin-left:400px;
    height:40px;
    align-items:flex-start;
}
#image{
    height:20px;
    align-content: baseline;

}

.overlay{
    background-color: rgba(0 ,0 ,0 ,0.5 );
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.model{
    background-color:white ;
    height:350px;
    width: 550px;
    text-align: center;
    margin-left: 50%;
    border-radius: 10px;
    padding: 10px 20px;
    margin:100px auto;

}

#arrow-image{
    height:30px;
    width:40px;
    border-radius: 7px;
    margin: 7px 10px;
    
   
        
}

#model-div2{
    border-radius: 10px;
    border: #8585ad c solid 2px ;
    background-color:#b3b3cc ;
    height:50px;
    font-size: 21px;
    padding: 20px 10px;
    align-items: start;
}

